.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.nav a:global(.active) {
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.nav a:global(.active) svg>* {
  fill: #fb1
}

.mobileButton {
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .2s;
  cursor: pointer;
  padding: 0;
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .1s;
}

.mobileButton:hover::after,
.mobileButton:focus::after {
  // box-shadow: none;
  // width: 10px;
  // height: 10px;
  // border-radius: 100%;
}

.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive {
  color: #fb1;
  outline: none;
  background: white;
  box-shadow: 0 0 3px #fea;
  border-color: #fb1;
}

.mobileButtonActive::after {
  content: "";
  transform: rotate(-90deg);
  height: 4px;
  width: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  // flex-direction: column;
  // align-items: center;
  // gap: 10px;
  // width: fit-content;
  // height: fit-content;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: .5rem;
  cursor: pointer;
}

.navMobile svg {
  margin-right: .5rem;
}

.navMobile button {
  border-bottom: none;
}

.navMobile a:hover svg>*,
.navMobile button:hover svg>* {
  fill: #fb1;
}

.navMobile a:hover,
.navMobile button:hover {
  color: #fb1;
}

.navMobileActive {
  transition: .3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}